#SingleMeal {
    text-align: center;
    border: 2px solid white;

    > a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;
        text-decoration: none;
        border: 1px solid white;
        transition: all .2s ease-in-out;
        cursor: pointer;
        img{
          transition: all .2s ease-in-out .2s;
          max-width: 100%;
          filter: saturate(0) ;
          transform: scale(1);
          z-index: 5;
          
        }
        &:hover{
          color: cornflowerblue;
          img{
            filter: saturate(1) ;
            transform: scale(1.3);

          }
        }
    }
    > .vote-wrapper{
        width: 80%;
        margin: 1rem auto;

        > .rate{
            color: black;
            background-color: white;
            &:hover{
                transform: scale(1.5);
                margin-top: -5px;
                background-color: transparent;
                color: red;
                font-weight: bolder;
            }
        }
        > .active{
            color: white;
            text-shadow: 5px 5px  black, -5px -5px  black;
            background-color: white ;
            transform: scale(2);
            margin-top: -15px;
            z-index: 6;
            background-color: transparent;


        }
    }
}