$color-blue: #2C74B3;
$color-dark-blue: #0A2647;

#Navigation{
    background-color: $color-dark-blue ;
    display: block;
    position: sticky;
    top: 0;
    z-index: 3;
    > .nav-list{
        margin-top: 0;
        display: flex;
        gap: 1rem 2.5rem;
        padding: 2rem;
        justify-content: center;
        > .item{
            list-style: none;
            font-size: 2rem;
            > &:hover{
                transform: scale(1.5);
            }
            > a{
                color: white;
                text-decoration: none;
            }
        }
    }
}
