$color-blue: #2C74B3;
$color-dark-blue: #0A2647;

.Categories {
    background-color: $color-blue;
    > h1 {
        text-align: center;
        padding: 2rem 0 ;
        color: $color-dark-blue;
    }
    >.container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 5rem;
    }
}