$color-blue: #2c74b3;
$color-dark-blue: #0a2647;

.Categories {
  background-color: $color-dark-blue;
  > h1 {
    text-align: center;
    padding: 3rem 0;
    color: $color-blue;
  }
  > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5rem;
  }
}
