#SingleDrink {

    > .vote-wrapper{

        > .none-active{
            color: black;
        }
        > .rated-active{
            color: blue;
            transform: scale(1.5);
        }
    }
}